<section id="categories-2" class="widget widget_categories">
    <h2 class="widget-title">Categories</h2>
    <ul>
        <li class="cat-item cat-item-1"><a href="http://10.211.55.112:8000/category/uncategorized/" >Uncategorized</a>
    </li>
    </ul>
</section>