<section id="recent-posts-2" class="widget widget_recent_entries">
    <h2 class="widget-title">Recent posts</h2>
    <ul>
        {% for post in posts %}
            <li><a href="">{{ post.title }}</a></li>
        {% else %}
            <li>No posts found</li>
        {% endfor %}
    </ul>
</section>