<section id="recent-posts-2" class="widget widget_recent_entries">
    <h2 class="widget-title">Recent comments</h2>
    <ul>
        {% for c in comments %}
            <li><a href="">{{ c.title }}</a></li>
        {% else %}
            <li>No comments found</li>
        {% endfor %}
    </ul>
</section>